<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="/">go to streaming</a></li>
        <li><a href="/video_events">go to event</a></li>
      </ul>
    </div>
    <img src="{{ url_for('video_feed_route') }}" width="100%" height="100%" />
  </body>
</html>
